﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Ukrland</title>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/testController.js"></script>
    <script src="scripts/services/testService.js"></script>

</head>
<body ng-cloak>

    <div ng-controller="testController">
        <h2>List</h2>
        <ul>
            <li ng-repeat="item in testList">
                <p>"{{item.Content}}" - {{item.Author}}</p>
            </li>
        </ul>
    </div>

</body>
</html>